.color-text-primary {
    color: var(--color-text-primary);
}

html {
    background: var(--color-surface-body);
}

body {
    background: var(--color-surface-body);
    color: var(--color-text-body);
    font-family: var(--font-family-text);
    font-size: 1.8rem;
    letter-spacing: 0.005em;
}

main {
    background: var(--color-surface-body);
    display: block;
    margin: 0 auto;
    max-width: var(--content-max-width);
    padding: 0 2.4rem;
}

h1, .h1 {
    margin: 0;
    font-family: var(--font-family-heading);
    font-size: 10rem;
    font-weight: 400;
    letter-spacing: -0.015em;
}

h2, .h2 {
    margin: 0;
    font-family: var(--font-family-heading);
    font-size: 6.2rem;
    font-weight: 400;
    letter-spacing: -0.005em;
}

h3, .h3 {
    margin: 0;
    font-family: var(--font-family-heading);
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 0;
    color: var(--color-text-primary);
}

h4, .h4 {
    margin: 2.4rem 0;
    font-family: var(--font-family-text);
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.005em;
}

h2 + *, .h2 + * {
    margin-top: 4.8rem;
}

h3 + *, .h3 + * {
    margin-top: 3.6rem;
}

* + h3, * + .h3 {
    margin-top: 3.6rem;
}

a {
    color: var(--color-text-body);
    text-underline-offset: 2px;
    text-decoration: underline;
}

a:focus,
a:hover {
    text-decoration: none;
}

.highlighted {
    font-family: var(--font-family-heading);
    font-size: 3.2rem;
    font-weight: 400;
    letter-spacing: 0.005em;
}

.highlighted:not(h1) + * {
    margin-top: 4.8rem;
}

.btn {
    position: relative;
    padding: 1rem 2.4rem;
    background: var(--color-surface-primary);
    border: var(--color-surface-primary);
    cursor: pointer;
    border-radius: 0.4rem;
    color: var(--color-text-on-primary);
    text-decoration: none;
    font-weight: 400;
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 200ms;
    transition-property: background-color;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.btn:hover::after {
    background-color: var(--color-state-layer-on-primary);
}

.narrow-container {
    max-width: 68rem;
    margin: 3.6rem auto;
}

.alert {
    padding: 0.8rem 1.6rem;
    border-radius: 0.4rem;
    color: var(--color-text-body);
    background: var(--color-surface-primary);
}

.alert--error {
    background: var(--color-surface-error);
}

.alert + * {
    margin-top: 2.4rem;
}

@media screen and (min-width: 620px) {
    .btn {
        width: fit-content;
        justify-content: flex-start;
    }
}
